#navbarSupportedContent{
  position:relative;
  left:80%;

}
h1{
  color:white;
  background:turquoise;
}

.navbar-toggler{
  padding:20px;
}

.navbar-brand {
  position: fixed;
  height: 30px;
  background:turquoise;
}

#latbox{
  color:white;
}

h3{
  color:turquoise;
}

img{
  width:100%;
  height:100%;
}
.active, .panel:hover {
  border-color:rgb(52, 149, 165);
  border-style: solid;
  
}
.vizualization {
  width: 50%;
  height:50%;
}  
.box {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color:white;

}

.table {
  font-size: 15px;
  border-top-color: rgb(255, 255, 255);
}
