#navbarSupportedContent{
  position:relative;
  left:80%;

}
h1{
  color:white;
  background:turquoise;
}

.navbar-toggler{
  padding:20px;
}

.navbar-brand {
  position: fixed;
  height: 30px;
  background:turquoise;
}

#latbox{
  color:white;
}


  